In [7]:
import pandas as pd

In [8]:
state_df = pd.read_csv("table-data.csv")

# Appending state code to the original dataframe

In [10]:
import requests

url = "https://api.census.gov/data/2019/acs/acs1/subject"

params = {
    'get': 'NAME,S1901_C01_012E',
    'for': 'state:*'
}

response = requests.get(url, params=params)
data = response.json()

# Extracting data into a list of dictionaries
median_household_incomes = []
for row in data[1:]:
    state_name, median_income, state_code = row
    median_household_incomes.append({'state_name': state_name, 'median_income': int(median_income), 'state_code': state_code})

# Creating a DataFrame from the list of dictionaries
state_code_df = pd.DataFrame(median_household_incomes)

state_df = pd.merge(state_df, state_code_df[['state_name', 'state_code']], on=['state_name'], how= "left")

state_df

              state_name  abbrev code state_code
0                Alabama    Ala.   AL         01
1                 Alaska  Alaska   AK         02
2                Arizona   Ariz.   AZ         04
3               Arkansas    Ark.   AR         05
4             California  Calif.   CA         06
5               Colorado   Colo.   CO         08
6            Connecticut   Conn.   CT         09
7               Delaware    Del.   DE         10
8   District of Columbia    D.C.   DC         11
9                Florida    Fla.   FL         12
10               Georgia     Ga.   GA         13
11                Hawaii  Hawaii   HI         15
12                 Idaho   Idaho   ID         16
13              Illinois    Ill.   IL         17
14               Indiana    Ind.   IN         18
15                  Iowa    Iowa   IA         19
16                Kansas   Kans.   KS         20
17              Kentucky     Ky.   KY         21
18             Louisiana     La.   LA         22
19                 Maine   Maine   ME         23
20              Maryland     Md.   MD         24
21         Massachusetts   Mass.   MA         25
22              Michigan   Mich.   MI         26
23             Minnesota   Minn.   MN         27
24           Mississippi   Miss.   MS         28
25              Missouri     Mo.   MO         29
26               Montana   Mont.   MT         30
27              Nebraska   Nebr.   NE         31
28                Nevada    Nev.   NV         32
29         New Hampshire    N.H.   NH         33
30            New Jersey    N.J.   NJ         34
31            New Mexico    N.M.   NM         35
32              New York    N.Y.   NY         36
33        North Carolina    N.C.   NC         37
34          North Dakota    N.D.   ND         38
35                  Ohio    Ohio   OH         39
36              Oklahoma   Okla.   OK         40
37                Oregon    Ore.   OR         41
38          Pennsylvania     Pa.   PA         42
39          Rhode Island    R.I.   RI         44
40        South Carolina    S.C.   SC         45
41          South Dakota    S.D.   SD         46
42             Tennessee   Tenn.   TN         47
43                 Texas    Tex.   TX         48
44                  Utah    Utah   UT         49
45               Vermont     Vt.   VT         50
46              Virginia     Va.   VA         51
47            Washington   Wash.   WA         53
48         West Virginia   W.Va.   WV         54
49             Wisconsin    Wis.   WI         55
50               Wyoming    Wyo.   WY         56

# Time to add stats

In [12]:
# Fetch data for the second DataFrame (population size)
url_population = "https://api.census.gov/data/2021/acs/acsse"
params_population = {
    'get': 'K200104_001E',
    'for': 'state:*',
}
response_population = requests.get(url_population, params=params_population)
data_population = response_population.json()

# Extracting data into a dictionary
population_size = {}
for row in data_population[1:]:
    state_population, state_code = row
    population_size[state_code] = int(state_population)

# Creating a DataFrame from the dictionary
population_df = pd.DataFrame(population_size.items(), columns=['state_code', 'population_size'])

state_df = pd.merge(state_df, population_df, on=['state_code'], how= "left")
state_df

              state_name  abbrev code state_code  population_size
0                Alabama    Ala.   AL         01          5039877
1                 Alaska  Alaska   AK         02           732673
2                Arizona   Ariz.   AZ         04          7276316
3               Arkansas    Ark.   AR         05          3025891
4             California  Calif.   CA         06         39237836
5               Colorado   Colo.   CO         08          5812069
6            Connecticut   Conn.   CT         09          3605597
7               Delaware    Del.   DE         10          1003384
8   District of Columbia    D.C.   DC         11           670050
9                Florida    Fla.   FL         12         21781128
10               Georgia     Ga.   GA         13         10799566
11                Hawaii  Hawaii   HI         15          1441553
12                 Idaho   Idaho   ID         16          1900923
13              Illinois    Ill.   IL         17         12671469
14               Indiana    Ind.   IN         18          6805985
15                  Iowa    Iowa   IA         19          3193079
16                Kansas   Kans.   KS         20          2934582
17              Kentucky     Ky.   KY         21          4509394
18             Louisiana     La.   LA         22          4624047
19                 Maine   Maine   ME         23          1372247
20              Maryland     Md.   MD         24          6165129
21         Massachusetts   Mass.   MA         25          6984723
22              Michigan   Mich.   MI         26         10050811
23             Minnesota   Minn.   MN         27          5707390
24           Mississippi   Miss.   MS         28          2949965
25              Missouri     Mo.   MO         29          6168187
26               Montana   Mont.   MT         30          1104271
27              Nebraska   Nebr.   NE         31          1963692
28                Nevada    Nev.   NV         32          3143991
29         New Hampshire    N.H.   NH         33          1388992
30            New Jersey    N.J.   NJ         34          9267130
31            New Mexico    N.M.   NM         35          2115877
32              New York    N.Y.   NY         36         19835913
33        North Carolina    N.C.   NC         37         10551162
34          North Dakota    N.D.   ND         38           774948
35                  Ohio    Ohio   OH         39         11780017
36              Oklahoma   Okla.   OK         40          3986639
37                Oregon    Ore.   OR         41          4246155
38          Pennsylvania     Pa.   PA         42         12964056
39          Rhode Island    R.I.   RI         44          1095610
40        South Carolina    S.C.   SC         45          5190705
41          South Dakota    S.D.   SD         46           895376
42             Tennessee   Tenn.   TN         47          6975218
43                 Texas    Tex.   TX         48         29527941
44                  Utah    Utah   UT         49          3337975
45               Vermont     Vt.   VT         50           645570
46              Virginia     Va.   VA         51          8642274
47            Washington   Wash.   WA         53          7738692
48         West Virginia   W.Va.   WV         54          1782959
49             Wisconsin    Wis.   WI         55          5895908
50               Wyoming    Wyo.   WY         56           578803

In [13]:
# Fetch data for median household income
url_income = "https://api.census.gov/data/2021/acs/acsse"
params_income = {
    'get': 'K201901_001E',
    'for': 'state:*',
}
response_income = requests.get(url_income, params=params_income)
data_income = response_income.json()

# Extracting data into a dictionary
median_household_incomes = {}
for row in data_income[1:]:
    state_income, state_code = row
    median_household_incomes[state_code] = int(state_income)

# Creating a DataFrame from the dictionary
income_df = pd.DataFrame(median_household_incomes.items(), columns=['state_code', 'median_household_income'])
state_df = pd.merge(state_df, income_df, on=['state_code'], how= "left")
state_df

,state_name,abbrev,code,state_code,population_size,median_household_income
0,Alabama,Ala.,AL,01,5039877,1967559
1,Alaska,Alaska,AK,02,732673,271311
2,Arizona,Ariz.,AZ,04,7276316,2817723
3,Arkansas,Ark.,AR,05,3025891,1183675
4,California,Calif.,CA,06,39237836,13429063
5,Colorado,Colo.,CO,08,5812069,2313042
6,Connecticut,Conn.,CT,09,3605597,1428313
7,Delaware,Del.,DE,10,1003384,395656
8,District of Columbia,D.C.,DC,11,670050,319565
9,Florida,Fla.,FL,12,21781128,8565329
10,Georgia,Ga.,GA,13,10799566,4001109
11,Hawaii,Hawaii,HI,15,1441553,490080
12,Idaho,Idaho,ID,16,1900923,693882
13,Illinois,Ill.,IL,17,12671469,4991641
14,Indiana,Ind.,IN,18,6805985,2680694
15,Iowa,Iowa,IA,19,3193079,1300467
16,Kansas,Kans.,KS,20,2934582,1159026
17,Kentucky,Ky.,KY,21,4509394,1785682
18,Louisiana,La.,LA,22,4624047,1783924
19,Maine,Maine,ME,23,1372247,593626
20,Maryland,Md.,MD,24,6165129,2355652
21,Massachusetts,Mass.,MA,25,6984723,2759018
22,Michigan,Mich.,MI,26,10050811,4051798
23,Minnesota,Minn.,MN,27,5707390,2281033
24,Mississippi,Miss.,MS,28,2949965,1129611
25,Missouri,Mo.,MO,29,6168187,2468726
26,Montana,Mont.,MT,30,1104271,448949
27,Nebraska,Nebr.,NE,31,1963692,785982
28,Nevada,Nev.,NV,32,3143991,1191380
29,New Hampshire,N.H.,NH,33,1388992,548026
30,New Jersey,N.J.,NJ,34,9267130,3497945
31,New Mexico,N.M.,NM,35,2115877,834007
32,New York,N.Y.,NY,36,19835913,7652666
33,North Carolina,N.C.,NC,37,10551162,4179632
34,North Dakota,N.D.,ND,38,774948,322511
35,Ohio,Ohio,OH,39,11780017,4832922
36,Oklahoma,Okla.,OK,40,3986639,1547967
37,Oregon,Ore.,OR,41,4246155,1702599
38,Pennsylvania,Pa.,PA,42,12964056,5228956
39,Rhode Island,R.I.,RI,44,1095610,440170
40,South Carolina,S.C.,SC,45,5190705,2049972
41,South Dakota,S.D.,SD,46,895376,356887
42,Tennessee,Tenn.,TN,47,6975218,2770395
43,Texas,Tex.,TX,48,29527941,10796247
44,Utah,Utah,UT,49,3337975,1101499
45,Vermont,Vt.,VT,50,645570,270163
46,Virginia,Va.,VA,51,8642274,3331461
47,Washington,Wash.,WA,53,7738692,3022255
48,West Virginia,W.Va.,WV,54,1782959,722201
49,Wisconsin,Wis.,WI,55,5895908,2449970
50,Wyoming,Wyo.,WY,56,578803,242763

In [14]:
# Fetch data for median age
url_age = "https://api.census.gov/data/2021/acs/acsse"
params_age = {
    'get': 'K200103_001E',
    'for': 'state:*',
}
response_age = requests.get(url_age, params=params_age)
data_age = response_age.json()

# Extracting data into a dictionary
median_age = {}
for row in data_age[1:]:
    state_age, state_code = row
    median_age[state_code] = float(state_age)

# Creating a DataFrame from the dictionary
age_df = pd.DataFrame(median_age.items(), columns=['state_code', 'median_age'])
state_df = pd.merge(state_df, age_df, on=['state_code'], how= "left")
state_df

,state_name,abbrev,code,state_code,population_size,median_household_income,median_age
0,Alabama,Ala.,AL,01,5039877,1967559,39.8
1,Alaska,Alaska,AK,02,732673,271311,35.6
2,Arizona,Ariz.,AZ,04,7276316,2817723,38.6
3,Arkansas,Ark.,AR,05,3025891,1183675,38.5
4,California,Calif.,CA,06,39237836,13429063,37.6
5,Colorado,Colo.,CO,08,5812069,2313042,37.6
6,Connecticut,Conn.,CT,09,3605597,1428313,41.1
7,Delaware,Del.,DE,10,1003384,395656,41.6
8,District of Columbia,D.C.,DC,11,670050,319565,34.8
9,Florida,Fla.,FL,12,21781128,8565329,42.8
10,Georgia,Ga.,GA,13,10799566,4001109,37.5
11,Hawaii,Hawaii,HI,15,1441553,490080,40.2
12,Idaho,Idaho,ID,16,1900923,693882,37.3
13,Illinois,Ill.,IL,17,12671469,4991641,39.0
14,Indiana,Ind.,IN,18,6805985,2680694,38.2
15,Iowa,Iowa,IA,19,3193079,1300467,38.5
16,Kansas,Kans.,KS,20,2934582,1159026,37.3
17,Kentucky,Ky.,KY,21,4509394,1785682,39.1
18,Louisiana,La.,LA,22,4624047,1783924,38.0
19,Maine,Maine,ME,23,1372247,593626,44.7
20,Maryland,Md.,MD,24,6165129,2355652,39.3
21,Massachusetts,Mass.,MA,25,6984723,2759018,39.9
22,Michigan,Mich.,MI,26,10050811,4051798,40.2
23,Minnesota,Minn.,MN,27,5707390,2281033,38.8
24,Mississippi,Miss.,MS,28,2949965,1129611,38.6
25,Missouri,Mo.,MO,29,6168187,2468726,39.2
26,Montana,Mont.,MT,30,1104271,448949,40.1
27,Nebraska,Nebr.,NE,31,1963692,785982,37.2
28,Nevada,Nev.,NV,32,3143991,1191380,38.7
29,New Hampshire,N.H.,NH,33,1388992,548026,43.1
30,New Jersey,N.J.,NJ,34,9267130,3497945,40.3
31,New Mexico,N.M.,NM,35,2115877,834007,39.1
32,New York,N.Y.,NY,36,19835913,7652666,39.8
33,North Carolina,N.C.,NC,37,10551162,4179632,39.4
34,North Dakota,N.D.,ND,38,774948,322511,35.8
35,Ohio,Ohio,OH,39,11780017,4832922,39.6
36,Oklahoma,Okla.,OK,40,3986639,1547967,37.2
37,Oregon,Ore.,OR,41,4246155,1702599,40.1
38,Pennsylvania,Pa.,PA,42,12964056,5228956,40.9
39,Rhode Island,R.I.,RI,44,1095610,440170,40.6
40,South Carolina,S.C.,SC,45,5190705,2049972,40.2
41,South Dakota,S.D.,SD,46,895376,356887,37.6
42,Tennessee,Tenn.,TN,47,6975218,2770395,39.2
43,Texas,Tex.,TX,48,29527941,10796247,35.5
44,Utah,Utah,UT,49,3337975,1101499,31.8
45,Vermont,Vt.,VT,50,645570,270163,42.9
46,Virginia,Va.,VA,51,8642274,3331461,38.8
47,Washington,Wash.,WA,53,7738692,3022255,38.2
48,West Virginia,W.Va.,WV,54,1782959,722201,42.8
49,Wisconsin,Wis.,WI,55,5895908,2449970,40.1
50,Wyoming,Wyo.,WY,56,578803,242763,39.0

In [15]:
# Fetch data for housing value
url_housing = "https://api.census.gov/data/2021/acs/acsse"
params_housing = {
    'get': 'K202509_001E',
    'for': 'state:*',
}
response_housing = requests.get(url_housing, params=params_housing)
data_housing = response_housing.json()

# Extracting data into a dictionary
housing_value = {}
for row in data_housing[1:]:
    state_housing_value, state_code = row
    housing_value[state_code] = int(state_housing_value)

# Creating a DataFrame from the dictionary
median_housing_value_df = pd.DataFrame(housing_value.items(), columns=['state_code', 'median_housing_value'])
state_df = pd.merge(state_df, median_housing_value_df, on=['state_code'], how= "left")
state_df

,state_name,abbrev,code,state_code,population_size,median_household_income,median_age,median_housing_value
0,Alabama,Ala.,AL,01,5039877,1967559,39.8,1377932
1,Alaska,Alaska,AK,02,732673,271311,35.6,181145
2,Arizona,Ariz.,AZ,04,7276316,2817723,38.6,1905690
3,Arkansas,Ark.,AR,05,3025891,1183675,38.5,793038
4,California,Calif.,CA,06,39237836,13429063,37.6,7502706
5,Colorado,Colo.,CO,08,5812069,2313042,37.6,1546233
6,Connecticut,Conn.,CT,09,3605597,1428313,41.1,951516
7,Delaware,Del.,DE,10,1003384,395656,41.6,287111
8,District of Columbia,D.C.,DC,11,670050,319565,34.8,132936
9,Florida,Fla.,FL,12,21781128,8565329,42.8,5772329
10,Georgia,Ga.,GA,13,10799566,4001109,37.5,2642126
11,Hawaii,Hawaii,HI,15,1441553,490080,40.2,306653
12,Idaho,Idaho,ID,16,1900923,693882,37.3,498872
13,Illinois,Ill.,IL,17,12671469,4991641,39.0,3370654
14,Indiana,Ind.,IN,18,6805985,2680694,38.2,1905849
15,Iowa,Iowa,IA,19,3193079,1300467,38.5,935111
16,Kansas,Kans.,KS,20,2934582,1159026,37.3,776740
17,Kentucky,Ky.,KY,21,4509394,1785682,39.1,1225996
18,Louisiana,La.,LA,22,4624047,1783924,38.0,1200910
19,Maine,Maine,ME,23,1372247,593626,44.7,444231
20,Maryland,Md.,MD,24,6165129,2355652,39.3,1597663
21,Massachusetts,Mass.,MA,25,6984723,2759018,39.9,1742436
22,Michigan,Mich.,MI,26,10050811,4051798,40.2,2966347
23,Minnesota,Minn.,MN,27,5707390,2281033,38.8,1665101
24,Mississippi,Miss.,MS,28,2949965,1129611,38.6,787068
25,Missouri,Mo.,MO,29,6168187,2468726,39.2,1698595
26,Montana,Mont.,MT,30,1104271,448949,40.1,311861
27,Nebraska,Nebr.,NE,31,1963692,785982,37.2,532582
28,Nevada,Nev.,NV,32,3143991,1191380,38.7,704548
29,New Hampshire,N.H.,NH,33,1388992,548026,43.1,397225
30,New Jersey,N.J.,NJ,34,9267130,3497945,40.3,2252974
31,New Mexico,N.M.,NM,35,2115877,834007,39.1,579708
32,New York,N.Y.,NY,36,19835913,7652666,39.8,4239037
33,North Carolina,N.C.,NC,37,10551162,4179632,39.4,2794211
34,North Dakota,N.D.,ND,38,774948,322511,35.8,203549
35,Ohio,Ohio,OH,39,11780017,4832922,39.6,3246486
36,Oklahoma,Okla.,OK,40,3986639,1547967,37.2,1013837
37,Oregon,Ore.,OR,41,4246155,1702599,40.1,1086030
38,Pennsylvania,Pa.,PA,42,12964056,5228956,40.9,3657478
39,Rhode Island,R.I.,RI,44,1095610,440170,40.6,278449
40,South Carolina,S.C.,SC,45,5190705,2049972,40.2,1471296
41,South Dakota,S.D.,SD,46,895376,356887,37.6,247630
42,Tennessee,Tenn.,TN,47,6975218,2770395,39.2,1869046
43,Texas,Tex.,TX,48,29527941,10796247,35.5,6761002
44,Utah,Utah,UT,49,3337975,1101499,31.8,768062
45,Vermont,Vt.,VT,50,645570,270163,42.9,196291
46,Virginia,Va.,VA,51,8642274,3331461,38.8,2252170
47,Washington,Wash.,WA,53,7738692,3022255,38.2,1933901
48,West Virginia,W.Va.,WV,54,1782959,722201,42.8,542805
49,Wisconsin,Wis.,WI,55,5895908,2449970,40.1,1668575
50,Wyoming,Wyo.,WY,56,578803,242763,39.0,173247

In [16]:
import requests
url = "https://api.census.gov/data/2021/acs/acsse"

params = {
    # Employment Status
    'get': 'K202301_001E',
    'for': 'state:*',
}

response = requests.get(url, params=params)
data = response.json()

employment_status = {}
for row in data[1:]:
    employment_status_num, state_code = row
    employment_status[state_code] = int(employment_status_num)

# Creating a DataFrame from the dictionary
employment_df = pd.DataFrame(employment_status.items(), columns=['state_code', 'employment_status_num'])
state_df = pd.merge(state_df, employment_df, on=['state_code'], how= "left")
state_df

,state_name,abbrev,code,state_code,population_size,median_household_income,median_age,median_housing_value,employment_status_num
0,Alabama,Ala.,AL,01,5039877,1967559,39.8,1377932,4046627
1,Alaska,Alaska,AK,02,732673,271311,35.6,181145,571832
2,Arizona,Ariz.,AZ,04,7276316,2817723,38.6,1905690,5852913
3,Arkansas,Ark.,AR,05,3025891,1183675,38.5,793038,2405035
4,California,Calif.,CA,06,39237836,13429063,37.6,7502706,31507237
5,Colorado,Colo.,CO,08,5812069,2313042,37.6,1546233,4720626
6,Connecticut,Conn.,CT,09,3605597,1428313,41.1,951516,2971314
7,Delaware,Del.,DE,10,1003384,395656,41.6,287111,819868
8,District of Columbia,D.C.,DC,11,670050,319565,34.8,132936,553437
9,Florida,Fla.,FL,12,21781128,8565329,42.8,5772329,18010659
10,Georgia,Ga.,GA,13,10799566,4001109,37.5,2642126,8575918
11,Hawaii,Hawaii,HI,15,1441553,490080,40.2,306653,1166220
12,Idaho,Idaho,ID,16,1900923,693882,37.3,498872,1484932
13,Illinois,Ill.,IL,17,12671469,4991641,39.0,3370654,10203044
14,Indiana,Ind.,IN,18,6805985,2680694,38.2,1905849,5401077
15,Iowa,Iowa,IA,19,3193079,1300467,38.5,935111,2543525
16,Kansas,Kans.,KS,20,2934582,1159026,37.3,776740,2315379
17,Kentucky,Ky.,KY,21,4509394,1785682,39.1,1225996,3612858
18,Louisiana,La.,LA,22,4624047,1783924,38.0,1200910,3663069
19,Maine,Maine,ME,23,1372247,593626,44.7,444231,1155699
20,Maryland,Md.,MD,24,6165129,2355652,39.3,1597663,4964751
21,Massachusetts,Mass.,MA,25,6984723,2759018,39.9,1742436,5790261
22,Michigan,Mich.,MI,26,10050811,4051798,40.2,2966347,8156411
23,Minnesota,Minn.,MN,27,5707390,2281033,38.8,1665101,4554126
24,Mississippi,Miss.,MS,28,2949965,1129611,38.6,787068,2340485
25,Missouri,Mo.,MO,29,6168187,2468726,39.2,1698595,4949628
26,Montana,Mont.,MT,30,1104271,448949,40.1,311861,895986
27,Nebraska,Nebr.,NE,31,1963692,785982,37.2,532582,1534896
28,Nevada,Nev.,NV,32,3143991,1191380,38.7,704548,2526328
29,New Hampshire,N.H.,NH,33,1388992,548026,43.1,397225,1164253
30,New Jersey,N.J.,NJ,34,9267130,3497945,40.3,2252974,7489289
31,New Mexico,N.M.,NM,35,2115877,834007,39.1,579708,1700082
32,New York,N.Y.,NY,36,19835913,7652666,39.8,4239037,16210453
33,North Carolina,N.C.,NC,37,10551162,4179632,39.4,2794211,8524268
34,North Dakota,N.D.,ND,38,774948,322511,35.8,203549,610714
35,Ohio,Ohio,OH,39,11780017,4832922,39.6,3246486,9480334
36,Oklahoma,Okla.,OK,40,3986639,1547967,37.2,1013837,3140799
37,Oregon,Ore.,OR,41,4246155,1702599,40.1,1086030,3487919
38,Pennsylvania,Pa.,PA,42,12964056,5228956,40.9,3657478,10602171
39,Rhode Island,R.I.,RI,44,1095610,440170,40.6,278449,913136
40,South Carolina,S.C.,SC,45,5190705,2049972,40.2,1471296,4207365
41,South Dakota,S.D.,SD,46,895376,356887,37.6,247630,699893
42,Tennessee,Tenn.,TN,47,6975218,2770395,39.2,1869046,5616708
43,Texas,Tex.,TX,48,29527941,10796247,35.5,6761002,22934023
44,Utah,Utah,UT,49,3337975,1101499,31.8,768062,2507029
45,Vermont,Vt.,VT,50,645570,270163,42.9,196291,542827
46,Virginia,Va.,VA,51,8642274,3331461,38.8,2252170,6980718
47,Washington,Wash.,WA,53,7738692,3022255,38.2,1933901,6250868
48,West Virginia,W.Va.,WV,54,1782959,722201,42.8,542805,1465755
49,Wisconsin,Wis.,WI,55,5895908,2449970,40.1,1668575,4773326
50,Wyoming,Wyo.,WY,56,578803,242763,39.0,173247,461622

In [17]:
state_df.to_csv("state_table.csv")